.container{
    display: grid;
    height: 20vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    
    
    "content1 content1 content1 content1";
    
}

.content1{
   
    grid-area: content1;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center !important;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    text-align: left;
    padding: -120px;
    
}

.contact{
    justify-content: left !important;
    
}
.foot{
    font-weight: bold;
}
.pics {
    height: 40px !important;
    margin: 10px;
    width: 40px;
    margin-bottom: -10px;
   
}
.phone{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}
.icon{
    height: 20px !important;
    margin: 10px;
    width: 20px;
}




@media screen and (max-width: 500px) {
    .container{
        display: grid;
        height: 5vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
        
        "content1 content1 content1 content1";
     
       
       
        
        
    }
    .contact{
        justify-content: left !important;
        
    }
    .foot{
        font-weight: bold;
    }
    .pics {
        height: 20px !important;
        margin: 10px;
        width: 20px;
        margin-bottom: -10px;
       
    }
    .phone{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: -20px;
    }
    .icon{
        height: 20px !important;
        margin: 10px;
        width: 20px;
    }
    .contact{
        justify-content: left !important;
        font-size: 10px;
    }
    .social{
        font-size: 10px;
    }
    .one{
        font-size: 10px;
    }

    
}