/*background*/

.Outer       {
    display: flex;
    padding-right: 60px;
    background-image: url("/image/city.jpg");
    background-repeat: no-repeat;
    background-color: #61ce79;
    background-size: 85%;
}

.innerleft{
    width: 50%;
}

.innerright{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.image{
    width: 500px;
    height: 500px;
    box-shadow: 2px 2px 10px black;
}

/*hero text holder*/
.container {
    display: flex;
    align-self: center;
    padding: 0;
    margin:0;
    align-items: center;
    display: flex;
    justify-content: center;  
}

.container > p {
    font-size: 128pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: left !important;
    
}

/*hero text*/
.tech {
    color: white;
    margin-bottom: 0;
    text-shadow: 2px 2px 10px black;
}

.people {
    color: #0CF807;
    margin-bottom: 0;
    text-shadow: 2px 2px 10px black;
}

/*motto holder*/
.quote {
    display: block;
    margin: 0;
    text-align: center;
    margin-bottom: 150px;
    text-shadow: 2px 2px 10px black;
}

/*motto text*/
.quote p {
    font-size: 36px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/*button for sign up*/
.quote > button {
    width: 400px;
    text-align: center;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: #61CE79;

}

.quote > button:hover {
    background-color:green;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    
    .Outer       {
    display: flex;
    padding-right: 15px;
    background-image: url("/image/city.jpg");
    background-repeat: repeat-y;
    background-color: #61ce79;
    background-size: 85%;
    }

    .innerleft {
        display: block;
        width: 50%;
    
    }
    /*hero text holder*/
    .container {
        display: flex;
        font-size: 20px;
        align-self: center;
        padding: 0;
        margin:0;
    }

    .container > p {
        font-size: 120px;
        font-family: 'Times New Roman', Times, serif;
    }

    /*hero text*/
    .tech {
        color: white;
        margin-bottom: 0;
    }

    .people {
        color: #0CF807;
        margin-bottom: 0;
    }

    /*motto holder*/
    .quote {
        display: block;
        margin: 0;
        text-align: center;
        margin-bottom: 150px;
    }

    /*motto text*/
    .quote p {
        font-size: 35px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }

    /*button for sign up*/
    .quote > button {
        width: 200px;
        text-align: center;
        font-size: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #61CE79;

    }

    .quote > button:hover {
        background-color:green;
    }

    .innerleft {
        width: 50%;
    }
    /*right image*/
    .innerright > img {
        width: 400px;
        height: 425px;
        margin-left: 200px;
        margin-top: 40px;
    }

}

